:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-size: clamp(0.9rem, 1.2vw, 0.9375rem);
    font-family: "Inter", sans-serif;
    /* Weights: 400, 700, 800 */
    /* display: grid;
    place-items: center; */
    background-color: var(--off-white);
}

/* header section */
header{
    position: relative;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navigation */
nav{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--off-white);
    width: 100%;
    height: 100vh;
    width: 15.625rem;
    z-index: 10;
    overflow: hidden;
    padding: 1rem;
}

nav.toggle{
    display: block;
}

.nav-menu{
    margin: 8rem 0;
}

.nav-menu .nav-list{
    list-style-type: none;
    margin: 2rem 0;
}

.nav-menu .nav-link{
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: 500;
    font-size: 1.3rem;
}

.nav-link:hover{
    text-decoration: underline;
}

/* Overlay filter */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: 4px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

/* Open and close button */
.open-btn{
    z-index: 1;
}

.close-btn{
    position: absolute;
    right: 1rem;
}